//colors
$backgroundColor: #FFFFFF;
$mainTextColor: #121212;
$secondaryTextColor: #FFFFFF;
$buttonColor: #E4C1AE;
$buttonOutlineColor: #d3ae99;
$buttonDangerColor: #F08080;
$buttonDangerOutlineColor: #d16464;
$modalOverlayColor: rgba(18, 18, 18, .5);
$closeIconColor: #000000;

// Font weight
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;